:root{
    --primary: #111b54;
    --Ligth: #ffffff;
    --grey: #efefef;
}


body{
    overflow: hidden;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover{
    text-decoration: none;
}

#sidebar-container{
    min-height: 100vh;
}




.bg-primary{background-color: var(--primary) !important; }

#sidebar-container .logo{
   padding: .875rem  1.25rem; 
}

#sidebar-container .menu{
    width: 12rem;
}
